h2 {
  font-family: 'Proza Libre', sans-serif;

}

nav {
  display: flex;
  align-items: center
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.navigation-items {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;

  
}

.navigation-item {
  margin: 16px;
}